.pageName{
	color: #6b6b6b;
	font-weight: bold;
	font-size: 24px;
	text-align: left;
}
.header {
	height: 80px;
	width: 100%;
	background-color: #42b983;
	color: #42b983;
}
.leftmenu{
	width: 200px;
	height: auto;
}

